/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #ffffff;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --box4-color: #f3f6f9;
  --title-icon-color: #fff;
  --title-text-card: #243250;
  --text-card: #293959;
  --text-title: #3a3b3c;
  --text-color-input: #6c757d;

  --bg-base-table: #fff;
  --color-base-table: #212529;
  --bg-table-border-color: #e6e5e5;
  --bg-table-striped-bg: #fff;
  --bg-table-striped-color: #373b3e;
  --bg-table-active-bg: #fff;
  --bg-table-active-color: #323539;
  --bg-table-hover-bg: #e5e5e5;
  --bg-table-hover-color: #3a3b3c;

  --bg-table-light: #f3f6f9;
  --color-table-light: #212529;
  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}

body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --box4-color: #3a3b3c;
  --title-icon-color: #ccc;
  --title-text-card: #fff;
  --text-card: #fff;
  --text-title: #fff;
  --text-color-input: #fff;

  --bg-base-table: #212529;
  --color-base-table: #fff;
  --bg-table-border-color: #4d5154;
  --bg-table-striped-bg: #2c3034;
  --bg-table-striped-color: #fff;
  --bg-table-active-bg: #373b3e;
  --bg-table-active-color: #fff;
  --bg-table-hover-bg: #323539;
  --bg-table-hover-color: #fff;

  --bg-table-light: #212529;
  --color-table-light: #fff;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: #1e1e2d;
  transition: var(--tran-05);
}
nav.close {
  width: 73px;
}
nav .logo-name {
  display: flex;
  align-items: center;
}
nav .logo-image {
  display: flex;
  justify-content: center;
}
nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 20%;
}

nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 14px;
  transition: var(--tran-05);
}
nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}
nav .menu-items {
  margin-top: 10px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
}
.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}
body.dark li a:hover:before {
  background-color: white;
}
.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: #bcbcbc;
  transition: var(--tran-05);
}
nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}

.mode {
  color: #bcbcbc;
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
}
.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}
.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}
body.dark .switch:before {
  left: 20px;
}

.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
  border: none;
}
nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
}
nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}
.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}
.top img {
  width: 40px;
  border-radius: 50%;
}
.dashboard .dash-content {
  padding-top: 50px;
}
.dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}
.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}
.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}
.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box.box2 {
  background-color: var(--box2-color);
}
.boxes .box.box3 {
  background-color: var(--box3-color);
}
.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.activity .activity-data {
  display: flex;
}
.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}
.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}

/* Header */

.container-header {
  background-color: #1e1e2d;
}

.header-logo {
  width: 5rem;
  height: auto;
}

.header-username {
  font-size: 0.9rem;
}

.header-option {
  background-color: #1e1e2d;
}

.header-option li a {
  color: white;
  font-size: 0.8rem;
}

.header-option li a:hover {
  background-color: #cccccc !important;
  color: #333333 !important;
}

.header-icons {
  font-size: 1.2rem;
}

.header-company {
  width: 2.8rem;
  height: 2rem;
}

.dropdown-menu-centrar {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.remove-dropdown-arrow::after {
  display: none !important;
}

.header-image-user {
  width: 2.5rem;
  height: 2.5rem;
}

.navbar-toggler {
  display: none;
}

.dropdown-divider {
  border: 0.5px solid #9f9e9e;
}

.text-primario {
  color: var(--text-title);
  font-size: 1.4rem;
  font-weight: 500;
}

/* Pagination */

.label-pagination {
  color: var(--black-light-color);
  font-weight: 500;
  font-size: 0.9rem;
}

/* Table */

.table-dark-mode {
  --bs-table-color: var(--color-base-table);
  --bs-table-bg: var(--bg-base-table);
  --bs-table-border-color: var(--bg-table-border-color);
  --bs-table-striped-bg: var(--bg-table-striped-bg);
  --bs-table-striped-color: var(--bg-table-striped-color);
  --bs-table-active-bg: var(--bg-table-active-bg);
  --bs-table-active-color: var(--bg-table-active-color);
  --bs-table-hover-bg: var(--bg-table-hover-bg);
  --bs-table-hover-color: var(--bg-table-hover-color);
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-header {
  --bs-table-bg: var(--bg-table-light);
  --bs-table-color: var(--color-table-light);
  color: var(--bs-table-color);
}

.employee-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.employee-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 10px;
}

.text-small {
  color: #b2b2c0;
  font-size: 0.8rem;
}

/* Badge */

.bagge-success {
  background-color: #c9f7f5;
  color: #26c8c0;
  padding: 0.5rem 1.3rem;
  font-weight: 600;
  width: 90px;
}

.bagge-warning {
  background-color: #fff4de;
  color: #ffa800;
  padding: 0.5rem 1.3rem;
  font-weight: 600;
  width: 90px;
}

@media (max-width: 365px) {
  .header-icons {
    font-size: 0.8rem;
  }
  .header-username {
    font-size: 0.8rem;
  }

  .custom-dropdown-menu {
    max-width: 13rem !important;
  }

  .email-text {
    font-size: 0.9rem;
  }
  .header-icons-show {
    display: none;
  }

  .dropdown-menu-centrar {
    right: auto;
    left: 54%;
    transform: translateX(-46%);
  }
}

/* Pantallas muy pequeñas*/
@media (max-width: 250px) {
  .hidden-navbar-elements {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
}

@media (max-width: 1000px) {
  nav {
    width: 73px;
  }
  nav.close {
    width: 250px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  .activity .activity-data {
    overflow-x: scroll;
  }
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
}
@media (max-width: 400px) {
  nav {
    width: 0px;
  }
  nav.close {
    width: 73px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}
