.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  width: 100%;
  padding-right: 2.5rem;
  background-color: var(--box4-color);
}

.search-input::placeholder {
  color: var(--text-color-input);
}

.search-input:focus {
  background-color: var(--box4-color);
  color: var(--text-color-input);
}

.search-icon {
  position: absolute;
  right: 10px;
  color: var(--text-color-input);
  pointer-events: none;
}
